---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="fr">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 class="text-center mb-24">Le riz qui nourrit</h1>
			<p class="flex">
				Confectionné selon d'anciens rites du temple Rissou, la légende
				raconte que les moines découvrirent des paelleras au bord des côtes,
				Pris d'une épiphanie, ils ajoutèrent le set à la cuisine, un arôme 
				nouveau semblait résider dans les poêles.
			</p>
			<p>
				A celà s'ajoutent donc les fameux rites du temple, en effet, le riz 
				est massé non pas par l'action de la main, mais avec les pieds,
				la force et l'envergure de l'appendice pédestre offre à ce riz 
				une qualité singulière.
			</p>

			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
			Ex officiis natus, vero voluptate corporis mollitia obcaecati debitis
			quod placeat et quo ullam eaque at eligendi aut id, laborum minus 
			quam.</p>

			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
			Ex officiis natus, vero voluptate corporis mollitia obcaecati debitis
			quod placeat et quo ullam eaque at eligendi aut id, laborum minus 
			quam.</p>

			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
			Ex officiis natus, vero voluptate corporis mollitia obcaecati debitis
			quod placeat et quo ullam eaque at eligendi aut id, laborum minus 
			quam.</p>

			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
			Ex officiis natus, vero voluptate corporis mollitia obcaecati debitis
			quod placeat et quo ullam eaque at eligendi aut id, laborum minus 
			quam.</p>

			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
			Ex officiis natus, vero voluptate corporis mollitia obcaecati debitis
			quod placeat et quo ullam eaque at eligendi aut id, laborum minus 
			quam.</p>
			
		</main>
		<Footer />
	</body>
</html>
